$gray-base: #eeeeee;
$gray-base-light: #e3e3e3;
$gray-base-lighter: #e5e5e5;
$gray-base-lightest: #bdbdbd;
$gray-light: #9e9e9e;
$gray-lighter: #f9f9f9;
$gray-lighter-light: #f7f7f7;
$gray-dark: #616161;
$gray-darker: #424242;
$gray: #cfd8dc;
$gray-base-dark: #9d9d9d;
$white: #fff;
$orange: #ffb300;
$blue-light: #03a9f4;
$black: #000;

